.panel-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;

    padding: 0.5rem;
    border-radius: 8px;
    color: black;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

